/* @import url('https://cdn.syncfusion.com/ej2/bootstrap5.css'); */

.timepicker-control-section {
  max-width: 300px;
  margin: -5px auto 0 auto;
  padding: 0;
}

.e-bigger .control-pane.default .control-section {
  margin-top: 60px;
}

input.e-input,
.e-input-group input.e-input,
.e-input-group.e-control-wrapper input.e-input,
textarea.e-input,
.e-input-group textarea.e-input,
.e-input-group.e-control-wrapper textarea.e-input {
  padding-top: 4px !important;
  padding-bottom: 1px !important;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: 0px solid !important;
}

.e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error),
.e-input-group.e-control-wrapper.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) {
  border-color: red !important;
  box-shadow: none !important;
}
