@import url('https://cdn.syncfusion.com/ej2/material.css');

#EventLog b {
  color: #388e3c;
}

hr {
  margin: 1px 10px 1px 0px;
  border-top: 1px solid #eee;
}
/* custom code end*/

.e-schedule .e-schedule-toolbar .e-icon-schedule-print::before {
  content: '\e973';
}

.e-schedule .e-schedule-toolbar .e-icon-schedule-pdf::before {
  content: '\e7c8';
}

.custom-field-row {
  margin-bottom: 20px;
}

.multi-prop div {
  padding-left: 0;
  padding-top: 0;
}

.e-schedule .e-vertical-view .e-resource-cells {
  padding: 5px !important;
}

.e-schedule .e-month-view .e-appointment {
  height: 40px !important;
}

.e-schedule .e-month-view .e-appointment .e-appointment-details {
  display: revert !important;
}

.e-more-popup-wrapper .e-appointment {
  height: 40px !important;
  display: revert !important;
}

.e-contextmenu-wrapper ul,
.e-contextmenu-container ul {
  padding: 0px !important;
}

.e-schedule .e-vertical-view .e-header-cells .e-header-day {
  font-size: 14px;
}

.e-schedule .e-month-view .e-content-wrap {
  font-size: 14px;
}

.e-schedule .e-month-view .e-current-date .e-date-header,
.e-schedule .e-month-agenda-view .e-current-date .e-date-header {
  padding-top: 2px;
}

.e-schedule .e-month-view .e-date-header-wrap {
  font-size: 14px;
}

.e-schedule .e-vertical-view .e-time-cells-wrap table td,
.e-schedule .e-vertical-view .e-work-cells {
  font-size: 14px;
}

.e-calendar .e-content span.e-day,
.e-bigger.e-small .e-calendar .e-content span.e-day {
  font-size: 14px;
}

.e-calendar th,
.e-bigger.e-small .e-calendar th {
  font-size: 14px;
  color: black;
}

.e-calendar .e-header .e-title,
.e-bigger.e-small .e-calendar .e-header .e-title {
  font-size: 15px;
}
