@import url('https://cdn.syncfusion.com/ej2/material.css');
.e-grid .customcss {
  background-color: rgb(146, 201, 146);
}

.e-grid .e-rowcell {
  padding: 8px 5px;
}
.e-grid .e-headercell,
.e-grid .e-detailheadercell {
  padding-right: 5px !important;
}
.e-grid.e-bothlines .e-rowcell {
  border-width: 1px 1px 0 0px;
}
.e-grid.e-default.e-bothlines .e-headercell,
.e-grid.e-default.e-bothlines .e-detailheadercell {
  border-width: 0 1px 0 0px;
}
.e-grid .e-frozencontent > .e-table,
.e-grid .e-frozenheader > .e-table {
  border-right-color: #6779c9;
  border-right-width: 1px;
}
