.packagePanel {
  :global(.ant-collapse-content-box) {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }

  :global(.ant-collapse-header) {
    background-color: #c6cceb !important;
  }
}

.packageDrawdownPanel {
  // :global(.ant-collapse-content-box) {
  //   padding: 0px;
  // }

  :global(.ant-collapse-header) {
    background-color: #daecf5 !important;
  }
}
