.expandableRow {
  background-color: #daecf5;
}

.expandableRow > td {
  background-color: #daecf5 !important;
}

.expandableRow .ant-table-cell-row-hover {
  background-color: #daecf5 !important;
}
.table {
  overflow: scroll;
  height: calc(100vh - 280px);
  :global {
    .ant-table-tbody > tr:nth-child(odd) > td {
      background: #daecf5 !important;
    }
    .innerTable .ant-table {
      margin: -4px -5px 0 25px !important;
    }
    .innerTable .ant-table-tbody > tr:nth-child(odd) > td {
      background: transparent !important;
    }
    .innerTable .ant-table-tbody > tr:hover > td {
      background: transparent !important;
    }
  }
}
